@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Display", sans-serif;
}

.swiper-pagination-bullet {
  display: none;
}

@media (min-width: 768px) {
  .comercial:nth-child(2) .comercial-imgbox {
    position: relative;
  }

  .comercial:nth-child(2) .comercial-imgbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: -67.5px;
    width: 1px;
    height: 100%;
    background: #747474;
    z-index: 1;
  }

  .comercial:nth-child(2) .comercial-imgbox::after,
  .comercial:nth-child(2) .comercial-imgbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: -67.5px;
    width: 1px;
    height: 100%;
    background: #747474;
    z-index: 1;
  }
  .comercial:nth-child(2) .comercial-imgbox::before {
    right: -67.5px;
    left: auto;
  }
}
